:root {
  --clr1: rgb(34, 154, 201);
  --clr2: rgb(50, 106, 179);

  --clr1bg: rgba(32, 184, 184, 0.623);
  --clr1bg-light: rgb(97, 49, 187);
  --clr2bg: rgba(82, 122, 134, 0.596);
  --clr2bg-light: rgb(87, 49, 192);

  --gray1: rgba(23, 155, 189, 0.637);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 